src/main/java/org/deepspeech/libdeepspeech/*.java
!src/main/java/org/deepspeech/libdeepspeech/DeepSpeechModel.java
!src/main/java/org/deepspeech/libdeepspeech/DeepSpeechStreamingState.java

CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

build/

libs/*
*.so