[submodule "doc/examples"]
	path = doc/examples
	url = https://github.com/mozilla/STT-examples.git
	branch = master
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/mozilla/tensorflow.git
