.ipynb_checkpoints
*.pyc
*.swp
*.DS_Store
/werlog.js
/runs
/logs
/exports
/native_client/setup.cfg
/native_client/build
/native_client/deepspeech.egg-info
/native_client/dist
/native_client/python/deepspeech.py
/native_client/python/deepspeech_wrap.cpp
