[submodule "doc/examples"]
	path = doc/examples
	url = https://github.com/mozilla/DeepSpeech-examples.git
	branch = master
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/mozilla/tensorflow.git
[submodule "kenlm"]
	path = kenlm
	url = https://github.com/kpu/kenlm
[submodule ".github/actions/wait-on-check-action"]
	path = .github/actions/wait-on-check-action
	url = https://github.com/lewagon/wait-on-check-action
