.ipynb_checkpoints
*.pyc
*.swp
*.DS_Store
*.egg-info
.pit*
/.run
/werlog.js
/runs
/logs
/exports
/data/ldc93s1
/native_client/setup.cfg
/native_client/build
/native_client/*.egg-info
/native_client/dist
/native_client/deepspeech
/native_client/ds-swig
/native_client/libdeepspeech.so
/native_client/node_modules
/native_client/javascript/build
/native_client/javascript/lib
/native_client/javascript/package.json
/native_client/javascript/package-lock.json
/native_client/javascript/client.js
/native_client/javascript/deepspeech_wrap.cxx
/native_client/javascript/node_modules
/native_client/python/MANIFEST.in
/native_client/python/dist
/native_client/python/impl.py
/native_client/python/impl_wrap.cpp
/doc/.build/
/doc/xml-c/
/doc/xml-java/
Dockerfile.build
Dockerfile.train
doc/xml-c
doc/xml-java
doc/xml-dotnet
