.ipynb_checkpoints
*.pyc
*.swp
*.DS_Store
/.run
/werlog.js
/runs
/logs
/exports
/native_client/setup.cfg
/native_client/build
/native_client/*.egg-info
/native_client/dist
/native_client/node_modules
/native_client/python/model.py
/native_client/python/utils.py
/native_client/python/model_wrap.cpp
/native_client/python/utils_wrap.cpp
/native_client/javascript/build
/native_client/javascript/deepspeech_wrap.cxx
