# Main training requirements
tensorflow == 1.15.0
numpy == 1.18.1
progressbar2
six
pyxdg
attrdict
absl-py
semver
opuslib == 2.0.0

# Requirements for building native_client files
setuptools

# Requirements for importers
sox
bs4
pandas
requests
librosa
soundfile
