<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncAwaitBestPractices" version="3.1.0" targetFramework="net462" />
  <package id="AsyncAwaitBestPractices.MVVM" version="3.1.0" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net462" />
  <package id="CSCore" version="1.2.1.2" targetFramework="net462" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net462" />
  <package id="NAudio" version="1.9.0" targetFramework="net462" />
</packages>