util/file_piece.cc.gz
*.swp
*.o
doc/
build/
/bin
/lib
/tests
._*
windows/Win32
windows/x64
windows/*.user
windows/*.sdf
windows/*.opensdf
windows/*.suo
CMakeFiles
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
